<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>All Blogs</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let blog of allBlogs">
            <div class="card text-center">
                <div class="card-header">{{blog.title | uppercase}}</div>
                <div class="card-body">
                    <p class="card-text">{{blog.description}}</p>
                </div>
                <div class="card-footer">
                    <p>Posted on {{blog.created | date}} <br> by {{blog.author}} <br></p>
                    <a class="btn btn-primary mt-3" [routerLink]="['/blog', blog.blogId]">Read</a>
                </div>
            </div>
        </div>
    </div>
</div>